<p>
  Modify the dice in the URL path by inputing any numbers after <strong>/dice</strong>, like <strong>/dice/1/7</strong>.
</p>

<div>
  This many dice: <%= @number_of_dice %>
</div>

<div>
  With this many sides: <%= @sides_per_dice %>
</div>
