<h1>Task Details</h1>

<h2><%= @task.name %></h2>

<p><%= @task.description %></p>

<div>
  <a href="/tasks/<%= task.id %>/edit">Edit Task</a>
</div>

<div>
  <a href="/tasks/<%= task.id %>/delete">Delete Task</a>
</div>

<div>
  <a href="/tasks">Back to Task List</a>
</div>
